.notification
	text-align center
	font-family montserat
	font-size 15px
	background-color #ebebeb
	padding-top 13px
	padding-bottom 12px
	&__text
		color #666
		font-weight 400
		&_highlight
			color #00c
			font-weight 700
