mixin notification()
	+b.notification&attributes(attributes)
		.container
			+e.text
				+e('span').text._highlight
					i.fa.fa-truck
					| Welcome Indeed Job Searchers!
				=' '
				| Our best drivers come from Indeed so we're excited for you to start driving for us!
