include ../icon/icon

mixin notification()
	+b.notification&attributes(attributes)
		.container
			+e.text
				+e('span').text._highlight
					+icon('truck').icon
					| Welcome Indeed Job Searchers!
				=' '
				| Our best drivers come from Indeed so we're excited for you to start driving for us!
