.feature
	margin-bottom 10px
	flex-shrink 1
	width 33.33%
	padding-right 24px

	@media (max-width 992px)
		width 50%

	@media (max-width 762px)
		width 100%
		padding-right 0

	&__icon
		margin-right 12px
		flex-shrink 1

	&__head
		display flex
		align-items center
		height 56px

	&__name
		font-family montserat
		font-size 20px
		color #000

	&__list
		list-style disc
		padding-left 48px
		margin-top 16px

	&__item
		font-size 14px
		color #9E9E9E
		line-height 20px
