mixin button(data)
	-data= data || {}

	if(data.type == 'button')
		+b('button').button(class != data.mod ? '_' + data.mod : '' class != data.size ? '_size_' + data.size : '')&attributes(attributes)= data.text
	else
		+b('a').button(href=data.href class != data.mod ? '_' + data.mod : '' class != data.size ? '_size_' + data.size : '')&attributes(attributes)= data.text
