.button
	display inline-block
	border-radius 5px
	color #fff
	font-size 17px
	width 100%
	padding 12px 0 12px 0
	font-weight bold
	font-family 'Arial Black'
	border none
	text-align center

	&_size
		&_s
			font-size 17px

		&_s2
			font-size 20px
			padding 10px

		&_m
			font-size 21px
			padding 16px 0 16px 0
	&:hover,
	&:focus,
	&:active
		text-decoration none
		color #fff
	&_success
		background-color #00c448
		&:hover
			background #029137
	&_danger
		background-image linear-gradient(to bottom, #cf1a2e 0%,#b60115 100%)
		&:hover
			background #66000b
	&_white
		background-image linear-gradient(to top, #ebebeb 0%, #fff 100%)
		color #333
		border 1px solid #ccc
		box-shadow 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 2px 0 rgba(255, 255, 255, 0.35)
		transition box-shadow .2s
		&:hover,
		&:focus,
		&:active
			box-shadow none
			color #333
	&_blue
		color #fff
		font-weight 700
		background-image linear-gradient(180deg, #2f62f1 0%, #133fbb 100%)
		border 1px solid #00c
		box-shadow 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 2px 0 rgba(255, 255, 255, 0.35)
		transition all .2s
		&:hover
			box-shadow none
			border 1px solid transparent

	&__highlight
		color #00c
