mixin form-temp(data)
	+b('form').form-temp&attributes(attributes)
		+e.title Have Our Recruiter Call You
		+e('label').label(for= 'name') First name
		+e('input').input(id= 'name' class= 'form-control')
		+e('label').label(for= 'phone') Phone
		+e('input').input(id= 'phone' class= 'form-control')
		+e('label').label Have at least 2 years of OTR experience?
		+e('input').radio(type='radio' value='yes' id='otr-yes' name='otr')
		+e('label').radio-label(for='otr-yes') Yes
		+e('input').radio(type='radio' value='no' id='otr-no' name='otr')
		+e('label').radio-label(for='otr-no') No
		+e('label').label Have a clean driving record in past 3 years?
		+e('input').radio(type='radio' value='yes' id='clean-drive-yes' name='clean-drive')
		+e('label').radio-label(for='clean-drive-yes') Yes
		+e('input').radio(type='radio' value='no' id='clean-drive-no' name='clean-drive')
		+e('label').radio-label(for='clean-drive-no') No
		+e('button').button(class= 'button button_danger') Call me now!
