include ../list/list
include ../line-breaker/line-breaker
include ../button/button
include ../form-temp/form-temp

mixin offer-banner()
	+b.offer-banner&attributes(attributes)
		.container
			+e('img').logo(src='assets/images/banner-logo.png')
			.row
				.col-md-7
					+e.title Flatbed OTR Drivers
					+e.subtitle $52,000- $70,000 a year
					+e.requirements(class='visible-sm-block visible-xs-block')
						+e.requirements-title Requirements:
						+e.requirements-text Class A CDL, 25 Years of Age, Safe MVR
					+list({name: 'What JLE Drivers Get:', items: ['Up to $0.53 per mile', 'Brand New Equipment', 'Excellent benefits', 'Sign-on bonus', 'Home weekly']})
					+e.requirements(class='hidden-sm hidden-xs')
						+e.requirements-title Requirements:
						+e.requirements-text Class A CDL, 25 Years of Age, Safe MVR
					+e.button(class='hidden-sm hidden-xs')
						+button({mod: 'success', href: '#', text: 'Apply Online'})
				.col-md-5
					+e.button-call
						+button({mod: 'danger', href: '#', text: 'Call Us: (866) 986-1392', size: 'm'})
					+e.line-breaker(class='hidden-sm hidden-xs')
						+line-breaker({text: 'or'})
					+form-temp().offer-banner__form
					+e.line-breaker(class='visible-sm-block visible-xs-block')
						+line-breaker({text: 'or'})
					+e.button(class='visible-sm-block visible-xs-block')
						+button({mod: 'success', href: '#', text: 'Apply Online'})
