extends /blocks/layout-default/layout-default

include /blocks/offer-banner/offer-banner

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	.container
		a(href='./lp1.html') lp1
		br
		a(href='./lp2.html') lp2
		br
		a(href='./lp3.html') lp3
		br
		a(href='./lp4.html') lp4
