extends /blocks/layout-default/layout-default

include /blocks/notification/notification
include /blocks/header/header
include /blocks/banner-colorful/banner-colorful
include /blocks/features/features
include /blocks/hiring/hiring
include /blocks/testimonials/testimonials
include /blocks/support/support
include /blocks/banner-bottom/banner-bottom
include /blocks/footer/footer
include /blocks/modal/modal


block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+notification()
	+header()
	+banner-colorful()
	+features()
	+hiring()
	+testimonials()
	+support()
	+banner-bottom()
	+footer()
	+modal()
