.line-breaker
	display flex
	max-width 360px
	width 100%
	color #fff
	align-items center
	@media (max-width: 992px)
		margin 0 auto
	&__line
		flex-grow 1
		height 2px
		background-color #fff
	&__text
		margin auto 20px
		font-size 19px
		font-weight bold
		text-transform uppercase
