include ../form/form

mixin banner-bottom(data)
	-var data = data || data
	+b.banner-bottom&attributes(attributes)
		.container
			.row
				.col-md-6
					+e.title Take your first step to&nbsp;joining our team at&nbsp;JLE Industries!
					+e('a').call Call Us: (724) 812-0057
					+e.subtitle With our industry leading pay, benefits, and our driver oriented company, join our team is&nbsp;a&nbsp;no&nbsp;brainer! Simply fill out the form to&nbsp;the right to&nbsp;get started.
				.col-md-6
					+form(data)
						+e('input').input(placeholder='Name' name='name')
						+e('input').input(type='email' placeholder='Email' name='email')
						+e('input').input(type='phone' placeholder='Phone' name='phone')
						+e('label').label Have at&nbsp;least 2 years of&nbsp;OTR experience?
						+e('label').radio
							+e('input').radio-input(type='radio' name='otr' value='yes')
							| Yes
						+e('label').radio
							+e('input').radio-input(type='radio' name='otr' value='No')
							| No
						+e('label').label Have a&nbsp;clean driving record in&nbsp;past 3 years?
						+e('label').radio
							+e('input').radio-input(type='radio' name='clean-driving' value='yes')
							| Yes
						+e('label').radio
							+e('input').radio-input(type='radio' name='clean-driving' value='No')
							| No
